.md .tabs {
  display: block;
  position: relative;
}
.md .tabs ul.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  white-space: nowrap;
  border: none;
  z-index: 0;
  border-bottom: 1px solid var(--grey-3);
}
.md .tabs ul.nav li {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 5px 20px;
}
.md .tabs ul.nav li::before {
  position: absolute;
  left: 50%;
  right: 50%;
  top: auto;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid transparent;
}
.md .tabs ul.nav li.active::before {
  left: 0;
  right: 0;
  border-bottom-color: var(--primary-color);
}
.md .tabs .tab {
  padding: 20px;
  display: none;
  animation: fadeIn 0.5s;
}
.md .tabs .tab.active {
  display: block;
}
