.right.menu {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
}
.right.menu .search-btn,
.right.menu .theme-btn {
  padding: 10px 8px;
}
.right.menu div.search-btn + div {
  margin-left: 5px;
}
.right.menu .i-sun {
  font-size: $font-size-large;
}
